<div class="col-md-8">
  <div class="form-group">
    <!-- if user is premium show this button -->
    <% if current_user.premium? || current_user.admin? %>
      <%= form_for @wiki do |f| %>
      <%= link_to "Manage Collaborators", new_wiki_collaborator_path(@wiki), class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>
<% end %>
