
<br>
 <div class="jumbotron" style="margin-right:50px;margin-left:50px;">
   <h1 class="leftspace">Welcome</h1>
   <p style="margin-right:50px;margin-left:50px;">Wikis are a great way to collaborate on community-sourced content.
     Whether the wiki is for a hobby or work-related project, you will build
     an app that lets users create their own wikis and share them publicly or
     privately with other collaborators.</p>

 </div>

 <div class="row" style="margin-right:50px;margin-left:50px;">
   <div class="col-md-4">
     <h2>Solves world hunger</h2>
     <p>Bloccit will deliver food and water to those in need, all over the world.</p>
   </div>
   <div class="col-md-4">
     <h2>Eliminates poverty</h2>
     <p>Bloccit will deliver money and education to those in need, all over the world.</p>
   </div>
   <div class="col-md-4">
     <h2>Makes you better looking</h2>
     <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
   </div>
 </div>
