<div class="space">
<h1>Edit a Wiki</h1>
  <div class="row">
    <div class="col-md-4">
      <p>Guidelines for Wikis</p>
      <ul>
        <li>Make sure it talks about mermaids.</li>
        <li>Refer to a Sci-fi show.</li>
        <li>Don't be a bad sailor</li>
      </ul>
    </div>
    <div class="col-md-8">

      <%= render partial: 'form', locals: { user: @user, wiki: @wiki } %>
    </div>
    <h2>Collaborators</h2>
    <%= render partial: 'collaborators/collaborator', locals: {wiki: @wiki} %>
    <% @wiki.collaborating_users.each do |collaborator| %>
      <p class="media-heading">
        <%= collaborator.name %> • <%= collaborator.email %>
      </p>
   <% end %>
  </div>
  <br>
</div>
